header {
	display: flex;
	justify-content: center;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
    min-width: 90%;
}
.liens {
	display: none;
	font-size: 15px;
	color: var(--lightsanjuanblue);
	font-family: "public sans";
	text-decoration: none;
	font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	nav {
		width: 90%;
	}
	.liens {
		display: block;
	}
	.burger-menu {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	nav {
		min-width: 768px;
		max-width: 1100px;
	}
	.liens {
		display: block;
	}
	.burger-menu {
		display: none;
	}
	a:hover {
		color: var(--mirageblue);
	}
}
