* {
	margin: 0;
}
body {
	position: relative;
	overflow-x: hidden;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	padding: 0px 0px 60px;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	padding: 20px;
}
.bg-circle {
	position: absolute;
	width: 150vw;
	height: 500px;
	border-radius: 50%;
	top: -275px;
	left: -24vw;
	background: var(--sanjuanblue);
	z-index: -1;
	opacity: 15%;
}
.hero-content {
	text-align: center;
	padding: 40px 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 90%;
}
.phone {
	width: 50%;
}
h1 {
	color: var(--sanjuanblue);
	font-weight: 400;
	text-align: center;
	font-size: 32px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 92px;
}
.email-input {
	width: 88%;
	box-shadow: 10px 10px 25px -10px;
}
.schedule {
	width: 100%;
}
.contact {
	color: var(--mirageblue);
	font-weight: 700;
	text-decoration: none;
}
.partners {
	background-color: var(--mirageblue);
	position: relative;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
}
.bg-circle-2 {
	position: absolute;
	width: 150vw;
	height: 400px;
	border-radius: 50%;
	top: -275px;
	left: -24vw;
	background: var(--sanjuanblue);
	z-index: 1;
	opacity: 15%;
}
.partners-content {
	text-align: center;
	padding: 80px 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	width: 90%;
	max-width: 1100px;
}
.white-h2 {
	color: var(--linkWaterwhite);
	font-size: 32px;
	font-family: "dm serif display";
	font-weight: 400;
}
.white-p {
	color: var(--linkWaterwhite);
	opacity: 70%;
	line-height: 24px;
}
.partners-text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.logos {
	display: grid;
	gap: 24px;
	justify-items: center;
	grid-template-areas:
		"te mi"
		"he or"
		"go nv";
}
.te {
	grid-area: te;
}
.mi {
	grid-area: mi;
}
.he {
	grid-area: he;
}
.or {
	grid-area: or;
}
.go {
	grid-area: go;
}
.nv {
	grid-area: nv;
}
.questions {
	text-align: start;
}
.schedule {
	width: 100%;
}
.fonctionnalities {
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
}
.fonctionnalities-sec {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 30px;
}
.code-block {
	width: 70%;
}
h3 {
	font-size: 36px;
	color: var(--sanjuanblue);
	font-weight: 400;
	font-family: "dm serif display";
}
.p-h3 {
	font-size: 15px;
}
.fonctionnalities-sec-text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.avantages {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	text-align: center;
}
.articles-av {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	max-width: 90%;
}
.av-h3 {
	font-family: "public sans";
	font-size: 18px;
	color: var(--sanjuanblue);
	font-weight: 700;
}
.bg-circle-3 {
	position: absolute;
	width: 50vw;
	height: 666px;
	border-radius: 50%;
	top: -170px;
	right: -35vw;
	background: var(--sanjuanblue);
	z-index: -1;
	opacity: 15%;
	display: none;
}
.fonctionnalities .fonctionnalities-sec:nth-child(2) {
	position: relative;
}
.demo {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.demo-h2 {
	font-size: 32px;
	color: var(--sanjuanblue);
	font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	h1 {
		font-size: 48px;
	}
	form {
		position: relative;
		max-width: 70%;
		height: 30px;
	}
	.email-input {
		position: absolute;
		left: 0px;
		width: 90%;
	}
	.schedule {
		position: absolute;
		right: 0px;
		width: max-content;
	}
	.phone {
		width: 30%;
	}
	.logos {
		grid-template-areas:
			"te mi he"
			"or go nv";
	}
	.bg-circle-2 {
		width: 85vw;
		height: 438px;
		top: -232px;
		left: 9vw;
	}
	.avantages {
		flex-direction: row;
		justify-content: space-evenly;
		gap: 0px;
	}
	.articles-av {
		max-width: 25%;
	}
}
@media screen and (min-width: 1024px) {
	body {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		font-size: 48px;
	}
	.hero {
		max-width: 1100px;
		flex-direction: row-reverse;
		justify-content: space-evenly;
	}
	.phone {
		width: 30%;
	}
	.form-1 {
		position: relative;
		min-width: 100%;
		height: 30px;
	}
	.email-input {
		position: absolute;
		left: 0px;
		width: 90%;
	}
	.schedule {
		position: absolute;
		right: 0px;
		width: max-content;
	}
	.bg-circle {
		right: -30%;
		left: unset;
		top: -30%;
		width: 900px;
		height: 900px;
	}
	.hero-content {
		width: 40%;
	}
	.partners-content {
		display: flex;
		flex-direction: row-reverse;
		text-align: start;
		justify-content: space-evenly;
	}
	.partners-text {
		width: 30%;
	}
	.logos {
		grid-template-areas:
			"te mi he"
			"or go nv";
	}
	.bg-circle-2 {
		width: 60vw;
		height: 634px;
		top: -260px;
		left: -24vw;
	}
	.fonctionnalities {
		max-width: 1100px;
	}
	.code-block {
		width: 40%;
	}
	.fonctionnalities .fonctionnalities-sec:nth-child(1) {
		flex-direction: row;
		justify-content: space-evenly;
		text-align: start;
	}
	.fonctionnalities-sec-text {
		width: 40%;
	}
	.fonctionnalities .fonctionnalities-sec:nth-child(2) {
		flex-direction: row-reverse;
		justify-content: space-evenly;
		text-align: start;
	}
	.avantages {
		flex-direction: row;
		justify-content: space-evenly;
		gap: 0px;
		max-width: 70%;
	}
	.bg-circle-3 {
		display: block;
	}
	.demo {
		flex-direction: row;
		justify-content: space-between;
		max-width: 70%;
	}
	.form-2 {
		width: 50%;
		position: relative;
		height: 30px;
	}
}
